<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>KIDT's web-site</title>
</head>

<body>
    <div id="header">
        <div class="conteiner">
            <h1> Welcome to our website</h1>
            <ul>
                <li><a href="https:/youtube.com">Home</a></li>
                <li><a href="https:/youtube.com">About</a></li>
                <li><a href="https:/youtube.com">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https:/google.com">Sign Up</a></li>
                <%=my%>
            </ul>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ea, minima necessitatibus alias neque tenetur, natus tempore ab quis aut, sunt voluptas quo voluptate. Quos exercitationem sit fugit magni ea illum dolores sed unde officiis
                sunt? Tempore animi soluta vitae. Facere molestiae nihil qui labore cumque corporis quisquam quod voluptates sequi! Quidem necessitatibus reprehenderit animi sapiente veniam quo expedita atque veritatis magnam ullam dicta, nisi illum architecto
                amet! Reprehenderit, ipsum?</p>
            <form action="/contact" method="post">
                <input type="text" name="savol" id="savol">
                <input type="submit" value="Yuborish">
            </form>
        </div>
    </div>


</body>

</html>